<div class="login-wrapper">
  <div class="login-card">
    <img src="../../../assets/images/via-nicolas-transparent.png" alt="Via Nicolas Logo" class="brand-logo">
    
    <h2>Welcome</h2>
    <p class="subtitle">Log in to plan your next adventure.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <input type="text" formControlName="username" placeholder="Username" required>
      </div>

      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" required>
      </div>
      <button type="submit" mat-raised-button class="button-primary" [disabled]="!loginForm.valid" style="width: 100% !important;">Login</button>
    </form>
  </div>
</div>

